Button:pressed {
	-fx-border-radius: 7;
	-fx-background-radius: 7;
}

Button:hover{
	
}

.header:hover{
	-fx-underline: true;
}

.overview {
	-fx-background-color: #ffffff;
	-fx-border-color:  #9dadca;
	-fx-text-fill:  #0f358e;
}




